table{
  border: 2px solid;
  border-color: rgb(24, 123, 153);
  width: 100%;
  border-collapse: collapse;

}

td,th{
  padding: 20px;
  border: 1px solid darkblue;
}

th{
  text-align: left;
  background-color: rgb(90, 231, 231);
}